.main-container {
  min-height: 90vh;
  background-color: rgba(144, 238, 144,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 100%;
  color: rgb(0, 140, 255);
}

.form-container {
  flex: 1;
  max-width: 800px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: lightblue;
  max-height: 600px;
  margin-top: 50px;
  border-radius: 50px;
  width:80%;
  box-sizing: border-box;
  padding: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}