.main-container {
  background-image: url("https://wallpapercat.com/w/full/4/d/a/1105828-2560x1440-desktop-hd-table-tennis-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.main-title {
  font-size: 120px !important;
}

.overlay {
  border-width: 1px;
  border-style: solid;
  border-image-source: linear-gradient(rgba(46, 45, 45, 0.7),rgba(49, 47, 47, 0.3));
  border-image-slice: fill 1;
}


.link {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(0, 110, 255);
}

.link:hover {
  opacity: 0.7;
}

.grow-animate {
  animation: fade-in linear;
  animation-timeline: view();
  animation-range: entry;
}

@keyframes fade-in {
  from {scale: .8; opacity: 0;}
  to { scale: 1; opacity: 1;}
}

.fade-out {
  animation: fade-out linear;
  animation-timeline: view();
  animation-range: exit -200px;
}

@keyframes fade-out {
  to { opacity: 0;}
}

.text-container {
  box-sizing: border-box;
}

.section-2 {
  background-color: white !important;
}

@media screen and (max-width: 1150px) {
  .responsive-column-one {
    flex-direction: column-reverse;
  }

  .responsive-column-two {
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .main-title {
    font-size: 80px !important;
  }

  .top-text {
    margin: 0 !important;
  }
}

@media screen and (max-width: 500px) {
  .main-title {
    font-size: 60px !important;
  }

  .title {
    font-size: 24px !important;
  }
}

.main-title {
  animation: title-fade-in 5s;
}

@keyframes title-fade-in {
  0% {opacity: 0; }
  100% { opacity: 1;}
}