.hot-desc {
  width: 80%;
  height: 80%;
  border-radius: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px;
}

.hot-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-container {
  width: fit-content;
  height: 80%;
  position: relative;

}

.popular-container:before {
  position: absolute;
  height: 110%;
  width: 110%;
  background-image: linear-gradient(to right, #3acfd5 0%, #5703f3 100%);
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0,0.5);
}

.none {
  display: none;
}

.img {
  object-fit: contain;
}


@media screen and (max-width: 600px) {
  .title {
    font-size: 28px;
  }

  .hot-desc {
    width: 100%;
  }
}