.box {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
  margin-left: 5rem;
  margin-right: 5rem;
}

.form-container {
  flex: 1;
  max-width: 500px;
background: lightblue;
  max-height: 800px;
  height: 80vh;
  width:80%;
  box-sizing: border-box;
  padding: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.login-right{
  flex: 1;
  height: 80vh;
  max-height: 800px;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(252,172,0,1) 100%);
}

@media screen and (max-width: 1400px) {
  .login-right {
    display: none;
  }

  .box {
    justify-content: center;
    background-color: lightblue;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.7);
  }
}

@media screen and (max-width: 800px) {
  .box {
    margin: 20px;
  }
}