.main-container {
  min-height: 90vh;
  background-color: rgba(144, 238, 144,0.5);
  color: rgb(0, 140, 255);
  align-items: center;

}

.main-border {
  display: flex;
  height: 80vh;
}
.main-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  position: relative;
  box-sizing: border-box;
}

.form-top {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  
}

.form-btn {
  margin-top: 2rem;
padding: 10px 20px 10px 20px;
}

.form {
  text-align: left;
}

.signup-img {
  object-fit: cover;
  max-height: 80vh;
  height: 100%;
}

.form-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}